.healthBar {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically (if needed) */
  flex-wrap: wrap;         /* Allows wrapping of items if there are many */
  width: 100%;             /* Make sure the container is full width */
  height: auto;            /* Adjust height as needed */
}

.healthSection {
  width: 10px;  
  height: 10px;
  border: 2px solid white;
  margin: 1.5px;

}

.healthy {
  background-color: white;
}