.healthBar {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-top: 20px;
  flex-direction: column;
  }
  
  .healthSection {
    width: 8px;
    height: 8px;
    border: 2px solid white;
    margin: 1.5px;
  }
  
  .healthy {
    background-color: white;
  }