.healthcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3%;
    flex-wrap: nowrap;
    margin-right: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: space-around;
}