.healthcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    justify-content: space-around;
    max-width: 768px;
}

.healthItem {
    margin-bottom: 20px; /* Adjust spacing as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .healthItem .MuiSvgIcon-root {
    margin-top: 8px; /* Adjust space between HealthBar and icon */
  }