.healthcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: space-around;
}