.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1000; /* Ensure it appears on top */
  padding: 20px;
}

.overlaycontent {
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #f1f1f1;
  transform: translateY(-50%);
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #f1f1f1;
}

.sliderContainer {
  margin-top: 20px;
}

.MuiSlider-root {
  margin: 10px 0;
}

