.CardAlpha {
    border-width: 2px;
    display: flex;
    border-color: white;
    border-style: double;
    flex-direction: column;
    max-width: 768px;
    overflow: hidden;
    border-radius: 22px;
    margin: 0 auto; /* Center horizontally */
    width: 100%; /* Allow it to scale with the container width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */

    /* Media queries for responsive margins */
    @media (max-width: 768px) {
        margin-left: 2%; 
        margin-right: 2%;
        margin-top: 5%;
    }

    @media (max-width: 480px) {
        margin-left: 1%; 
        margin-right: 1%;
        margin-top: 5%; 
    }
}